<a href="https://colab.research.google.com/github/SimonSaysGiveMeSmile/Caffeinated-Treasury-Bot-ORIE-4741-/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ORIE 4741 / 5741 Term Project**
## *- Caffinated Treasury Bot - Data Analysis*

### Authors:
Cecilia Yang - xy96@cornell.edu <br>
Kayla Yang - ?<br>
Simon (Jiahe) Tian - jt886@cornell.edu <br>

## Import Libraries

In [ ]:
# Import data manipulation libraries
#import necessary packages
import re
import pandas as pd
import numpy as np
from scipy import stats

import plotly.express as px
px.defaults.width, px.defaults.height = 1000, 600

# Set precision
pd.set_option('display.precision', 4)

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This sets the aesthetics for seaborn plots
sns.set()

from scipy.stats import percentileofscore

## Import Cleaned Datasets

In [7]:
df_train=pd.read_csv('train_cleaned.csv')
df_test=pd.read_csv('test_cleaned.csv')

In [8]:
# Understand the statistics of the datasets

print("Size of the cleaned training set: ", df_train.shape)
print("Size of the cleaned testing set: ", df_test.shape)

Size of the cleaned training set:  (44681, 28)
Size of the cleaned testing set:  (21938, 27)

In [9]:
print("Stats of the training dataset:")
df_train.describe()

Stats of the training dataset:

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,44681.0000,4.4681e+04,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000,44681.0000
mean,32.8546,1.7716e+05,3996.5620,5.5762,5.6755,15.3511,4.0071,22.3009,13.8652,10.7977,6.1404,1524.4134,32.1572,17.6738,109.5443,188.2025,380.4220
std,10.6227,1.4522e+06,3066.5046,2.5571,2.0818,8.8582,2.2245,15.2076,6.1728,6.9340,3.9048,1196.6700,5.0647,8.3340,94.3603,192.7834,193.8858
min,14.0000,7.0059e+03,303.6454,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,-6.4500,0.0000,0.2300,20.0000,0.1667,4.4628,0.0000,0.0078
25%,24.0000,1.8755e+04,1567.7867,4.0000,4.0000,8.0000,2.0000,11.0000,9.0000,5.6600,3.0000,614.6000,27.9693,11.0833,40.1775,69.8446,264.4731
50%,32.0000,3.5854e+04,2975.7250,6.0000,6.0000,15.0000,4.0000,19.0000,14.0000,9.7300,6.0000,1255.5700,32.1649,17.5000,75.0023,124.1070,324.0091
75%,41.0000,6.9342e+04,5685.0567,8.0000,7.0000,21.0000,6.0000,29.0000,19.0000,15.5200,9.0000,2164.8400,36.3697,24.2500,155.9091,226.9512,441.2153
max,95.0000,2.4198e+07,15204.6333,11.0000,11.0000,34.0000,9.0000,67.0000,28.0000,36.4900,17.0000,4998.0700,49.5645,33.6667,499.9292,1977.3261,1552.9461

In [10]:
print("Stats of the testing dataset:")
df_test.describe()

Stats of the testing dataset:

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,21938.000,2.1938e+04,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000
mean,33.376,1.5839e+05,3936.8754,5.5636,5.6742,15.3515,3.9973,22.3138,13.8447,10.7380,7.6749,1533.9416,32.1243,18.1718,113.7971,185.1059,378.4843
std,10.605,1.3156e+06,3040.6639,2.5767,2.0970,8.8810,2.2285,15.2552,6.1866,6.9611,3.9881,1193.9589,5.0464,8.3338,98.0876,187.3826,191.7136
min,14.000,7.0059e+03,303.6454,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,-6.4500,0.0000,0.2300,20.5097,0.8333,4.4628,0.0000,0.1034
25%,25.000,1.8668e+04,1548.3483,4.0000,4.0000,8.0000,2.0000,11.0000,9.0000,5.5900,5.0000,628.1100,27.9341,11.5833,41.3204,70.0223,263.9701
50%,33.000,3.5609e+04,2944.6133,6.0000,6.0000,15.0000,4.0000,19.0000,14.0000,9.6800,7.0000,1264.6100,32.1695,18.0000,78.2712,123.5700,322.7969
75%,42.000,6.7686e+04,5532.5033,8.0000,7.0000,21.0000,6.0000,29.0000,19.0000,15.4700,11.0000,2186.2000,36.2740,24.6667,164.0646,222.2886,438.6903
max,56.000,2.4017e+07,15204.6333,11.0000,11.0000,34.0000,9.0000,67.0000,28.0000,36.6500,17.0000,4997.1000,48.0965,34.0000,499.9292,1801.3582,1496.4089