<a href="https://colab.research.google.com/github/SimonSaysGiveMeSmile/Caffeinated-Treasury-Bot-ORIE-4741-/blob/main/data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ORIE 4741 / 5741 Term Project**
## *- Caffinated Treasury Bot - Data Analysis*

### Authors:
Cecilia Yang - xy96@cornell.edu <br>
Kayla Yang - ?<br>
Simon (Jiahe) Tian - jt886@cornell.edu <br>

## Import Libraries

In [1]:
# Import data manipulation libraries
#import necessary packages
import re
import pandas as pd
import numpy as np
from scipy import stats

import plotly.express as px
px.defaults.width, px.defaults.height = 1000, 600

# Set precision
pd.set_option('display.precision', 4)

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# This sets the aesthetics for seaborn plots
sns.set()

from scipy.stats import percentileofscore

## Import Cleaned Datasets

In [29]:
df_train=pd.read_csv('train_cleaned.csv')
df_test=pd.read_csv('test_cleaned.csv')

In [30]:
# Understand the statistics of the datasets

print("Size of the cleaned training set: ", df_train.shape)
print("Size of the cleaned testing set: ", df_test.shape)

Size of the cleaned training set:  (44681, 28)
Size of the cleaned testing set:  (21938, 27)

In [ ]:
print("Stats of the training dataset:")
df_train.describe()

We can see that both the training and the testing dataset have an identical characteristics across their columns.

In [ ]:
df_train_reduced = df_test.drop(['ID', 'Name', 'SSN', 'Occupation'], axis = 1)

print(df_train_reduced.head(100))

Now we want to examine the non-numerical columns to apply one-hot encoding method

In [33]:
# To count the frequency of all unique values within the columns

for column in df_train_reduced.columns:
    print(f"Unique values in column {column}:")
    print(df_train_reduced[column].value_counts())
    print("\n")

Unique values in column Customer_ID:
Customer_ID
CUS_0x4c9f    4
CUS_0xa72c    4
CUS_0x6d63    4
CUS_0x9941    4
CUS_0x3797    4
             ..
CUS_0xbcb2    1
CUS_0x38d8    1
CUS_0x4f52    1
CUS_0xb28a    1
CUS_0x39e5    1
Name: count, Length: 10165, dtype: int64


Unique values in column Month:
Month
November     5578
October      5492
December     5470
September    5398
Name: count, dtype: int64


Unique values in column Age:
Age
39.0    733
22.0    715
32.0    711
35.0    691
37.0    686
27.0    683
44.0    674
25.0    669
26.0    666
29.0    655
41.0    655
36.0    655
24.0    643
19.0    635
38.0    626
20.0    625
45.0    622
34.0    621
28.0    617
33.0    604
30.0    604
42.0    598
43.0    584
31.0    580
21.0    579
40.0    556
23.0    546
46.0    522
18.0    423
15.0    403
17.0    374
16.0    366
48.0    273
49.0    265
47.0    264
54.0    259
51.0    255
53.0    254
50.0    253
55.0    252
52.0    241
56.0    203
14.0     98
Name: count, dtype: int64


Unique values in column Annual_Income:
Annual_Income
36585.120     6
22434.160     6
95596.350     5
17816.750     5
9141.630      5
             ..
129200.120    1
19818.560     1
8969.985      1
57396.720     1
19114.120     1
Name: count, Length: 10334, dtype: int64


Unique values in column Monthly_Inhand_Salary:
Monthly_Inhand_Salary
6082.1875    6
1315.5608    5
4387.2725    5
6639.5600    5
949.8296     4
            ..
1469.1083    1
5530.4975    1
1437.6008    1
686.5567     1
1824.8433    1
Name: count, Length: 10268, dtype: int64


Unique values in column Num_Bank_Accounts:
Num_Bank_Accounts
7     3036
6     3025
8     2929
4     2607
5     2559
3     2493
9     1371
10    1353
1      876
2      848
0      834
11       7
Name: count, dtype: int64


Unique values in column Num_Credit_Card:
Num_Credit_Card
5     4076
7     3782
6     3695
4     3018
3     2787
10    1267
8     1240
9     1222
2      421
1      407
11      17
0        6
Name: count, dtype: int64


Unique values in column Interest_Rate:
Interest_Rate
5     1047
18     995
8      993
6      979
12     973
10     919
9      918
15     917
16     913
17     909
7      902
11     880
20     859
19     811
3      577
14     520
13     516
4      516
1      512
2      479
30     450
23     446
32     443
22     439
29     437
27     424
24     422
25     413
21     410
28     405
33     380
26     380
31     378
34     376
Name: count, dtype: int64


Unique values in column Num_of_Loan:
Num_of_Loan
2.0    3918
3.0    3887
4.0    3746
1.0    2744
6.0    2044
7.0    1925
5.0    1865
9.0     931
8.0     878
Name: count, dtype: int64


Unique values in column Type_of_Loan:
Type_of_Loan
Not Specified                                                                                                                                                        337
Credit-Builder Loan                                                                                                                                                  323
Personal Loan                                                                                                                                                        320
Debt Consolidation Loan                                                                                                                                              317
Payday Loan                                                                                                                                                          308
                                                                                                                                                                    ...
Auto Loan, Home Equity Loan, Debt Consolidation Loan, and Student Loan                                                                                                 1
Auto Loan, Home Equity Loan, Home Equity Loan, and Debt Consolidation Loan                                                                                             1
Not Specified, Home Equity Loan, Payday Loan, Debt Consolidation Loan, Credit-Builder Loan, Payday Loan, Student Loan, Personal Loan, and Debt Consolidation Loan      1
Personal Loan, Debt Consolidation Loan, Personal Loan, Not Specified, Debt Consolidation Loan, Personal Loan, and Mortgage Loan                                        1
Not Specified, Debt Consolidation Loan, Payday Loan, Home Equity Loan, Credit-Builder Loan, and Payday Loan                                                            1
Name: count, Length: 5833, dtype: int64


Unique values in column Delay_from_due_date:
Delay_from_due_date
15    774
13    721
12    687
14    680
10    668
     ...
64     17
65     16
63     10
66      6
67      2
Name: count, Length: 68, dtype: int64


Unique values in column Num_of_Delayed_Payment:
Num_of_Delayed_Payment
19.0    1371
17.0    1334
15.0    1302
16.0    1301
20.0    1298
18.0    1284
12.0    1215
10.0    1188
11.0    1137
9.0     1093
8.0     1080
14.0     998
13.0     992
21.0     672
22.0     629
23.0     586
7.0      509
6.0      491
5.0      466
25.0     459
24.0     452
2.0      419
3.0      398
4.0      386
1.0      371
0.0      330
26.0      84
27.0      56
28.0      37
Name: count, dtype: int64


Unique values in column Changed_Credit_Limit:
Changed_Credit_Limit
 11.50    39
 7.63     31
 8.23     30
 8.22     29
 8.99     29
          ..
-4.14      1
 21.88     1
 22.66     1
-4.77      1
-4.91      1
Name: count, Length: 3337, dtype: int64


Unique values in column Num_Credit_Inquiries:
Num_Credit_Inquiries
7.0     2002
6.0     1942
5.0     1932
4.0     1791
8.0     1772
9.0     1725
10.0    1499
11.0    1491
3.0     1371
12.0    1334
13.0    1101
2.0     1035
14.0     717
1.0      667
15.0     536
0.0      440
16.0     369
17.0     214
Name: count, dtype: int64


Unique values in column Credit_Mix:
Credit_Mix
Standard    8079
Bad         4858
Good        4645
_           4356
Name: count, dtype: int64


Unique values in column Outstanding_Debt:
Outstanding_Debt
699.36     7
1820.55    7
3626.94    7
1421.95    6
854.72     6
          ..
1342.37    1
150.87     1
700.09     1
445.39     1
809.98     1
Name: count, Length: 9990, dtype: int64


Unique values in column Credit_Utilization_Ratio:
Credit_Utilization_Ratio
33.0531    1
34.2247    1
33.6215    1
27.4854    1
40.2974    1
          ..
32.9550    1
30.6456    1
38.6401    1
35.2805    1
34.1085    1
Name: count, Length: 21938, dtype: int64


Unique values in column Credit_History_Age:
Credit_History_Age
20.0833    133
16.0833    122
18.5000    121
19.5833    118
17.0833    118
          ...
1.3333      10
0.8333       9
0.9167       8
34.0000      8
33.9167      6
Name: count, Length: 399, dtype: int64


Unique values in column Payment_of_Min_Amount:
Payment_of_Min_Amount
Yes    12350
No      6892
NM      2696
Name: count, dtype: int64


Unique values in column Total_EMI_per_month:
Total_EMI_per_month
62.1005     4
38.4380     4
159.6921    4
59.8986     4
47.7175     4
           ..
81.1998     1
44.9816     1
57.8901     1
72.3385     1
69.5862     1
Name: count, Length: 10273, dtype: int64


Unique values in column Amount_invested_monthly:
Amount_invested_monthly
0.0000      57
692.6676     5
51.5098      4
251.5697     4
86.2690      4
            ..
228.6778     1
363.0853     1
430.4569     1
24.9333      1
220.4579     1
Name: count, Length: 20655, dtype: int64


Unique values in column Payment_Behaviour:
Payment_Behaviour
Low_spent_Small_value_payments      7455
High_spent_Medium_value_payments    3777
Low_spent_Medium_value_payments     3048
High_spent_Large_value_payments     2863
High_spent_Small_value_payments     2525
Low_spent_Large_value_payments      2270
Name: count, dtype: int64


Unique values in column Monthly_Balance:
Monthly_Balance
271.6776    3
362.5761    3
421.5045    3
278.7274    2
810.6691    2
           ..
692.0151    1
319.5091    1
494.1046    1
405.7498    1
360.3797    1
Name: count, Length: 21784, dtype: int64

## Observations:

**Unique values in column Month:** <br>

November_____5578 <br>
October_______5492 <br>
December_____5470 <br>
September____5398 <br>

Name: count, dtype: int64 <br>

---

**Unique values in column Type_of_Loan:**  <br>

Not Specified__________________________________337 <br>
Credit-Builder Loan____________________________323  <br>
Personal Loan_________________________________320  <br>
Debt Consolidation Loan_______________________317  <br>
Payday Loan___________________________________308  <br><br>

Auto Loan, Home Equity Loan, <br>Debt Consolidation Loan,<br> and Student Loan________________________________1  <br><br>

Auto Loan, Home Equity Loan, <br>Home Equity Loan,<br> and Debt Consolidation__________________________1 <br><br>

Not Specified, Home Equity Loan,<br> Payday Loan, Debt Consolidation Loan, <br>Credit-Builder Loan, Payday Loan, <br>Student Loan, Personal Loan,<br> and Debt Consolidation Loan_____________________1 <br><br>

Personal Loan, Debt Consolidation Loan, <br>Personal Loan, Not Specified, <br>Debt Consolidation Loan, Personal Loan, <br>and Mortgage Loan______________________________1 <br><br>

Not Specified, Debt Consolidation Loan, <br>Payday Loan, Home Equity Loan, <br>Credit-Builder Loan, and Payday Loan_____________1 <br><br>

Name: count, Length: 5833, dtype: int64<br>

---

**Unique values in column Credit_Mix:**

Standard____8079 <br>
Bad_________4858 <br>
Good________4645 <br>
dash_________4356 <br><br>
Name: count, dtype: int64

---

**Unique values in column Payment_of_Min_Amount:** <br>
Payment_of_Min_Amount <br>
Yes______12350 <br>
No_______6892 <br>
NM_______2696 <br><br>
Name: count, dtype: int64 <br>

---

**Unique values in column Payment_Behaviour:** <br>
Low_spent_Small_value_payments________7455 <br>
High_spent_Medium_value_payments_____3777 <br>
Low_spent_Medium_value_payments_____3048 <br>
High_spent_Large_value_payments_______2863 <br>
High_spent_Small_value_payments_______2525 <br>
Low_spent_Large_value_payments_______2270 <br> <br>
Name: count, dtype: int64

In [ ]:
# Use one-hot encoding to convert string into numeric repersentations

df_train_onehot = df_train_reduced

month_to_number = {
  'September': 9,
  'October': 10,
  'November': 11,
  'December': 12
}

credit_to_number = {
  'Good': 3,
  'Standard': 2,
  'Bad': 1,
}

df_train_onehot['Month'] = df_train_reduced['Month'].replace(month_to_number)
df_train_onehot['Credit_Mix'] = df_train_reduced['Credit_Mix'].replace(credit_to_number)


df_train_onehot

In [36]:
corr_matrix = df_train.corr()

plt.figure(figsize = (15, 5))
sns.heatmap(corr_matrix, annot = True, fmt = ".2f", cmap = "coolwarm", square = True)
plt.title("Correlation Matrix")
plt.show()

ValueError: could not convert string to float: '0x1602'

In [37]:
print("Stats of the testing dataset:")
df_test.describe()

Stats of the testing dataset:

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,21938.000,2.1938e+04,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000,21938.0000
mean,33.376,1.5839e+05,3936.8754,5.5636,5.6742,15.3515,3.9973,22.3138,13.8447,10.7380,7.6749,1533.9416,32.1243,18.1718,113.7971,185.1059,378.4843
std,10.605,1.3156e+06,3040.6639,2.5767,2.0970,8.8810,2.2285,15.2552,6.1866,6.9611,3.9881,1193.9589,5.0464,8.3338,98.0876,187.3826,191.7136
min,14.000,7.0059e+03,303.6454,0.0000,0.0000,1.0000,1.0000,0.0000,0.0000,-6.4500,0.0000,0.2300,20.5097,0.8333,4.4628,0.0000,0.1034
25%,25.000,1.8668e+04,1548.3483,4.0000,4.0000,8.0000,2.0000,11.0000,9.0000,5.5900,5.0000,628.1100,27.9341,11.5833,41.3204,70.0223,263.9701
50%,33.000,3.5609e+04,2944.6133,6.0000,6.0000,15.0000,4.0000,19.0000,14.0000,9.6800,7.0000,1264.6100,32.1695,18.0000,78.2712,123.5700,322.7969
75%,42.000,6.7686e+04,5532.5033,8.0000,7.0000,21.0000,6.0000,29.0000,19.0000,15.4700,11.0000,2186.2000,36.2740,24.6667,164.0646,222.2886,438.6903
max,56.000,2.4017e+07,15204.6333,11.0000,11.0000,34.0000,9.0000,67.0000,28.0000,36.6500,17.0000,4997.1000,48.0965,34.0000,499.9292,1801.3582,1496.4089